{% extends 'blogbase.html.twig' %}

{% block title %}{% trans %}Blog{% endtrans %} | {% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnTitle }}{% else %}{{ blog.enTitle }}{% endif %}{% endblock %}

{% block metas %}

{% if app.request.attributes.get('_locale') == 'mn' %}
    <meta property="og:locale" content="mn_MN">
{% else %}
    <meta property="og:locale" content="en_US">
{% endif %}
<meta property="og:type" content="article">
<meta property="og:title" content="{% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnTitle }}{% else %}{{ blog.enTitle }}{% endif %}">
<meta property="og:description" content="{% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnDiscription|raw }}{% else %}{{ blog.enDiscription|raw }}{% endif %}">
<meta property="og:image" content="http://bicheech.com/uploads/{{blog.image}}">
<meta property="og:url" content="{{ app.request.uri }}">
<meta property="og:site_name" content="{% trans %}Bicheech Blog{% endtrans %}">
<meta property="article:publisher" content="facebook.com/bicheechcom">
<meta property="article:published_time" content="{{ blog.createdAt|date("Y-m-d\TH:m:s") }}">
<meta property="article:modified_time" content="{{ blog.createdAt|date("Y-m-d\TH:m:s") }}"">
<meta property="og:updated_time" content="{{ blog.createdAt|date("Y-m-d\TH:m:s") }}"">
<meta property="og:image:width" content="{{blog.mwidth}}">
<meta property="og:image:height" content="{{blog.mheight}}">


<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnTitle }}{% else %}{{ blog.enTitle }}{% endif %}">
<meta name="twitter:description" content="{% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnDiscription|raw }}{% else %}{{ blog.enDiscription|raw }}{% endif %}">
<meta name="twitter:image" content="http://bicheech.com/uploads/{{blog.image}}">
<meta name="twitter:site" content="@https://twitter.com/bicheech_com">
<meta name="description" content="Did you know that without correct posture, your chances of being diagnosed with Repetitive Strain Injury (RSI) is significantly increased?">
<link rel="canonical" href="{{ app.request.uri }}">

{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
    <div class="page-blog">
        <div class="row">
            <div class="span-9 pull-left">
                <div class="blog-post">
                    <a href="{{ path('blog_index') }}" class="back-to-posts">‹ {% trans %}Back to All Posts{% endtrans %}</a>

                    {% for tag in blog.tag %}
                        <p class="post-tag">
                            <a href="{{ path('blog_tag',{ 'tag':tag.name})}}">{{ tag.name|trans }}</a>
                        </p>
                    {% endfor %}
                    <h1 class="post-title">
                        <a href="{{ path('blog_read', { 'slug' : blog.slug } ) }}">{% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnTitle }}{% else %}{{ blog.enTitle }}{% endif %}</a>
                    </h1>
                    <p class="posted-by">{{ blog.createdAt|date("F d\\, Y") }} by {{ blog.user.username }}
                    </p>

                    <div class="post-content">
                        <p class="center"><a href="{{ path('blog_read', { 'slug' : blog.slug } ) }}"><img src="{{ asset('/uploads/' ~ blog.image ) }}" alt="{% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnTitle }}{% else %}{{ blog.enTitle }}{% endif %}" /></a></p>
                        {% if app.request.attributes.get('_locale') == 'mn' %}{{ blog.mnBody|raw }}{% else %}{{ blog.enBody|raw }}{% endif %}
                    </div>
                    
                    <div class="mashsb-container">
                      <div class="mashsb-box">
                        <a class="mashicon-facebook" href="#">
                          <i class="icon fa fa-facebook-f"></i>
                          <span class="text">Share</span>
                        </a>
                        <a class="mashicon-twitter" href="#">
                          <i class="icon fa fa-twitter"></i>
                          <span class="text">Tweet</span>
                        </a>
                      </div>
                    </div>
                    
                </div>
            </div>
            <div class="span-3 side-bar">
                <h1>{% trans %}Bicheech.com Blog{% endtrans %}</h1>
                <p>{% trans %}Keep up with Bicheech.com features, industry news, educational musings and more.{% endtrans %}</p>
                <hr>
                <h1>{% trans %}Post Topics{% endtrans %}</h1>
                <ul>
                    {% for tag in tags %}
                    <li><a href="{{ path('blog_tag',{ 'tag':tag.slug})}}">{{tag.name|trans|capitalize}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}
